- @register_books.each do |register_book|
  %tr
    %th{:scope => "row"}
      = register_book.updated_at.strftime("%Y-%m-%d")
    %td
      = register_book.book.title
    %td
      = register_book.book.author.name
    %td
      - if register_book.status == 1
        読んだ本
      - elsif register_book.status == 2
        積読本
      - elsif register_book.status == 3
        欲しい本
