// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 65px;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  position: fixed;
  z-index: 1;
  padding: 0 20px;
  line-height: 65px;
  color: white;
  &__logo{
    font-size: 30px;
  }
  &__contents{

    .header-item{
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
  }
}

.top-wrapper{
  padding-top: 65px;
  
}

.home{
  background-image: url("https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80");
  background-size: cover;
  height: 700px;
  position: relative;
  .search-box{
    width: 65%;
    position: absolute;
    top: 25%;
    left: 17%;
  }

  &__contents{
    align-items: center;
    position: absolute;
    top: 50%;
    left: 25%;
    .card-text{
      font-size: 40px;
    }
  }

  .login-form{
    text-align: center;
    line-height: 700px;
    .login-item{
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
  }
}


// あとで消す
.graph{
  height: 400px;
  width: 100vw;
}

.p1{
  background-color: blue;
}

.p2{
  background-color: red;
}

.p3{
  background-color: green;
}

.p4{
  background-color: yellow;
}

.book-wrapper{
  padding: 100px 0 0 30px;
  background-image: url("https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
  background-size: cover;
  &__right{
    height: 100vh;
    width: 100vw;
    padding: 0 50px;
    &--relation{
      height: calc(100vh - 50%);
      padding:20px;
      font-size: 35px;
      overflow: scroll;
      background-color: gainsboro;
      &--item{
        .item-image{
          height: 150px;
          width: 150px;
        }

        &--title{
          font-size: 20px;
        }
        &--genre{
          font-size: 15px;
        }
      }

    }

    &--review{
      height: calc(100vh - 70%);
      background-color: gainsboro;
      margin-top: 20px;
      padding: 15px ;
      overflow: scroll;
      &--content{
        border: 1px solid #000;
        margin-bottom: 15px;
      }
    }
  }
}

.books-form{
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1463320726281-696a485928c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  padding-top: 150px;
  color: white;
  &__contents{
    width: 60%;
    margin: auto;
  }
}