// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 60px;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  position: fixed;
  z-index: 1;
  padding: 0 20px;
  line-height: 60px;
  color: white;
  &__logo{
    font-size: 30px;
  }
  &__contents{

    .header-item{
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
  }
}

.top-wrapper{
  padding-top: 65px;
  background:  linear-gradient(-225deg, rgba(251, 252, 252, 0.7) 10%, rgba(248, 248, 248, 0.7) 80%),
  url("https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
  background-size: cover;
}


.home{
  background-image: url("https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80");
  background-size: cover;
  height: 700px;
  position: relative;
  .search-box{
    width: 65%;
    position: absolute;
    top: 25%;
    left: 17%;
  }

  .login-form{
    text-align: center;
    line-height: 700px;
    .login-item{
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
  }
}


// あとで消す

.books-form{
  height: 100%;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1463320726281-696a485928c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  padding-top: 100px;
  color: white;

  &__contents{
    width: 600px;
    height: 600px;
    margin: 0 auto;

    &__item{
      font-size: 20px;
      margin: 20px;
      
      #select1{
        width: 90%;
      }

      #author_search_field{
        width: 90%;
      }
    }
  }
}

.input-value{
  font-size: 30px;
}

.genre-select{
  width: 50%;
}

.submit{
  float: right;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #4868ad;/*ボタン色より暗く*/
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #627295;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.submit:active  {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

#author-search-result{
  height: 80px;
  overflow: scroll;
  .book-search{
    padding-left: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    &__item{
      cursor: pointer;
    }
  }
}



.tab-content{
  .home__contents{
  margin: 10px;
    .card{
      margin-bottom: 15px;
      .card-body{
        display: flex;
        justify-content: space-between;
        height: 150px;
        .card-text{
          font-size: 80px;
        }
      }
      }
  }
}

.row{
  position: relative;
  .home-contents{
    position: absolute;
  }
}


.book-wrapper{
  padding: 100px 0 0 30px;
  background-image: url("https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
  background-size: cover;
  &__left{
    
    &--btn{
    }
  }




  &__right{
    height: 100vh;
    width: 100vw;
    padding: 0 50px;
    &--relation{
      height: calc(100vh - 50%);
      padding:20px;
      font-size: 35px;
      overflow: scroll;
      background-color: gainsboro;
      &--item{
        .item-image{
          height: 150px;
          width: 150px;
        }

        &--title{
          font-size: 20px;
        }
        &--genre{
          font-size: 15px;
        }
      }

    }

    &--review{
      height: calc(100vh - 70%);
      background-color: gainsboro;
      margin-top: 20px;
      padding: 15px ;
      overflow: scroll;
      &--content{
        border: 1px solid #000;
        margin-bottom: 15px;
      }
    }
  }
}

.reading-contents{
  height: 500px;
  .chart{

    width: 500px;
  }
  &__index{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    overflow: scroll;
  }
}

.books-search{
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
  background:  linear-gradient(-225deg, rgba(251, 252, 252, 0.7) 10%, rgba(248, 248, 248, 0.7) 80%),
  url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  &__result{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .table-striped{
    width: 60%;
  }
}

.btn-text-3d {
  text-decoration: none;
  font-weight: bold;
  font-size: 37px;
  color: #799dec;
  text-shadow: 0px 4px 2px rgba(168, 167, 167, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.btn-text-3d:active {
  top: 4px;
  text-shadow: none;
}
